// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";


@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-bold-webfont.eot');
    src: url('/fonts/maisonneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-bold-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-bold-webfont.woff') format('woff'),
         url('/fonts/maisonneue-bold-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-bold-webfont.svg#maison_neuebold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-book-webfont.eot');
    src: url('/fonts/maisonneue-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-book-webfont.woff') format('woff'),
         url('/fonts/maisonneue-book-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-book-webfont.svg#maison_neuebook') format('svg');
    font-weight: 400;
    font-style: normal;
}




@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-light-webfont.eot');
    src: url('/fonts/maisonneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-light-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-light-webfont.woff') format('woff'),
         url('/fonts/maisonneue-light-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-light-webfont.svg#maison_neuelight') format('svg');
    font-weight: 200;
    font-style: normal;
}


// Organize the code below

body {
  background: #FFEDE6;
  font-family: 'maison_neue', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #888888;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  color: .222222;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(33,33,33,0.87);
  letter-spacing: 1.5px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  a {
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
      padding: 5em;

      span {
        border-bottom: solid 1px white;
      }
    }
  }
}

h1.logo {
  height: 30px;
  width: 222px;
  margin: 140px auto 70px;

  img {
    width: 100%;
    height: auto;
  }
}

header, section, footer {
  & > div {
    @extend .container;

    & > div {
      @include make-lg-column(12);
    }

  }
}

.intro {
  text-align: center;
  padding-bottom: 140px;
  border-bottom: solid 1px rgba(0,0,0,0.06);
}

p.hero {
  font-weight: 200;
  font-size: 60px;
  color: rgba(33,33,33,0.87);
  line-height: 90px;
}

.aboutus, .work, .teams, .contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutus {
  border-bottom: solid 1px rgba(0,0,0,0.06);

  p.lead {
    font-size: 32px;
    color: rgba(33,33,33,0.87);
    margin-bottom: 40px;
  }

  & > div > div {
      @include make-lg-column(8);
      @include make-lg-column-offset(2);
      @extend .center-block;
  }
}

.work {

  border-bottom: solid 1px rgba(0,0,0,0.06);

  .projects {

    padding: 0;
    list-style: none;

    .project {

      float: left;
      width: calc(50% - 24px);
      // padding: 1em;
      margin: 12px;

      background: #FFFFFF;
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.24), 0px 12px 12px 0px rgba(0,0,0,0.12);

      img {
        @extend .img-responsive;
      }
    }
  }

}

.teams {

  .clients {

    padding: 0;
    list-style: none;

    .client {

      float: left;
      width: calc(25% - 24px);
      padding: 1em;
      margin: 12px;
      
      img {
        @extend .img-responsive;
      }
    }
  }
}

.contact {

  ul {
    padding: 0;
    list-style: none;
  }

  h3 {
    color: white;
  }

  background: #222;
  color: white;
}