@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-bold-webfont.eot');
    src: url('/fonts/maisonneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-bold-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-bold-webfont.woff') format('woff'),
         url('/fonts/maisonneue-bold-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-bold-webfont.svg#maison_neuebold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-book-webfont.eot');
    src: url('/fonts/maisonneue-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-book-webfont.woff') format('woff'),
         url('/fonts/maisonneue-book-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-book-webfont.svg#maison_neuebook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'maison_neue';
    src: url('/fonts/maisonneue-light-webfont.eot');
    src: url('/fonts/maisonneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/maisonneue-light-webfont.woff2') format('woff2'),
         url('/fonts/maisonneue-light-webfont.woff') format('woff'),
         url('/fonts/maisonneue-light-webfont.ttf') format('truetype'),
         url('/fonts/maisonneue-light-webfont.svg#maison_neuelight') format('svg');
    font-weight: 200;
    font-style: normal;
}

body {
  font-family: 'maison_neue', sans-serif;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 1.5s;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@-webkit-keyframes welcome {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
